.typewriter {
    color: #fff;
    font-family: monospace;
    letter-spacing: .10em; 
    overflow: hidden; 

    white-space: nowrap; 
    margin: 0 auto; 
    animation: 
      typing 2s steps(800,end),
      blink-caret .2s step-end infinite;
  }
  
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
  }